<form action='.' method="POST"> {% csrf_token %}
      <div class="form-row">
          <div class="col col-md-5">
              <input type="text" class="form-control" name="name" placeholder="Your task*">
          </div>
          <div class="col col-md-3">
              <input type="text" class="form-control" name="category" placeholder="Category*">
          </div>

          <div class="col col-md-2">
              <select class="custom-select" name="category_select" id="inlineFormCustomSelect">
                  <option selected>.. or choose category</option>
                  {% for category  in unique_categories %}
                  <option value={{category}}>{{category}}</option>
                  {% endfor %}
              </select>
          </div>

          <div class="col col-md-2" >
              <input type="text" class="form-control" name="info" placeholder="Additional info">
          </div>

           <br>
      </div>
          <div class="row col-form-label-sm">
          <div class="col col-md-4" >
              <label>Comment</label>
              <input type="text" class="form-control" name="description" placeholder="Comment..">
          </div>
          <div class="col col-md-2">
              <label  >First day <small class="text-muted">(def = current date)</small></label>
                    <input type="date" class="form-control" id="start" name="start_data">
          </div>
          <div class="col col-md-2" >
              <label for="end">Last day <small class="text-muted">(def = fd + delta)</small></label>
                    <input type="date" class="form-control" id="end" name="end_data">
          </div>
          <div class="col col-md-2" >
              <label for="end">Share</label>
              <input type="text" class="form-control" id="share" name="share" placeholder="Name of user">
          </div>
          <div class="col col-md-1">
              <label for="delta">Days: </label>
              <input type="text" class="form-control" id="delta" name="delta" placeholder="10">
          </div>
              <div class="col col-md-1">
                  <label>Priority: <small class="text-muted"></small></label>
                      <select name='priority' class="custom-select" id="inputGroupSelect01">
                          <option value=1>1</option>
                          <option value=2>2</option>
                          <option value=3>3</option>
                      </select>
              </div>
          </div>
    <br>
    <center><button type="submit" name='add'  class="btn btn-primary btn-lg btn-block">Add new task</button><br></center>
</form>
