<form action='.' method="POST"> {% csrf_token %}
      <div class="row">
          <div class="col">
              <input type="text" class="form-control" name="name" placeholder="Your task">
          </div>
          <div class="col">
              <input type="text" class="form-control" name="category" placeholder="Category">
          </div>
          <div class="col">
              <input type="text" class="form-control" name="info" placeholder="Additional info">
          </div>
          <div class="col">
              <input type="text" class="form-control" name="description" placeholder="Comment">
          </div>
           <br>
      </div>
          <div class="row col-form-label-sm">
          <div class="col">
              <label  >First day <small class="text-muted">(default = current date)</small></label>
                    <input type="date" class="form-control" id="start" name="start_data">
          </div>
          <div class="col">
              <label for="end">Last day <small class="text-muted">(default = First day + delta)</small></label>
                    <input type="date" class="form-control" id="end" name="end_data">
          </div>
              <div class="col">
                  <label for="delta">Days: </label>
                    <input type="text" class="form-control" id="delta" name="delta" placeholder="10">
          </div>
              <div class="col">
                  <label>Priority: <small class="text-muted">(1-low, 2-mid, 3-high priority)</small></label>
                      <select name='priority' class="custom-select" id="inputGroupSelect01">
                          <option value=1>1</option>
                          <option value=2>2</option>
                          <option value=3>3</option>
                      </select>
              </div>
          </div>
    <br>
    <center><button type="submit" name='add'  class="btn btn-primary btn-lg btn-block">Add new task</button><br></center>
</form>
