
 <body>
    <form method="POST" action="/tasks_list/">{% csrf_token %}
      <div class="row">
          <div class="col">
              <input type="text" class="form-control" name="tag" placeholder="Tag">
          </div>
          <div class="col">
              <input type="text" class="form-control" name="name" placeholder="Your task">
          </div>
          <div class="col">
              <input type="text" class="form-control" name="category" placeholder="Category">
          </div>
          <div class="col">
              <input type="text" class="form-control" name="description" placeholder="Comment">
          </div>
      </div><br>
        <center><button type="submit" name="daily" class="btn btn-primary btn-lg btn-block">Create daily task</button><br></center>
    </form>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Tag</th>
      <th scope="col">Daily task</th>
      <th scope="col">Category</th>
      <th scope="col">Comment</th>
      <th scope="col">Completed days</th>
      <th scope="col">First day</th>
      <th scope="col">Active</th>
      <th scope="col">   </th>
    </tr>
  </thead>
  <tbody>
        {% for task_daily, difference in daily_tasks_user_with_completed_days %}
            <tr>
                <td>{{task_daily.tag}}</td>
                <td>{{task_daily.name}}</td>
                <td>{{task_daily.category}}</td>
                <td>{{task_daily.description}}</td>
                <td>{{task_daily.completed}}/{{difference}}</td>
                <td>{{task_daily.first_date}}</td>
                <td>{{task_daily.active}}</td>
                <td>
            <center>

                <form method="POST" id="delete_daily_task" action="/delete_daily_task/">{% csrf_token %}
                </form>
                     <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" value="{{task_daily.id}}" data-target="#DailyDelete_{{task_daily.id}}">
                    Delete daily task</button>

                    <div class="modal fade" id="DailyDelete_{{task_daily.id}}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">{{task_daily.tag}} - {{task_daily.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body" >
                            Are you sure you want to delete daily task {{task_daily.tag}}?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button type="submit" class="btn btn-primary" value={{task_daily.id}} name="delete_daily_task" form="delete_daily_task" >Yes, delete daily task</button>
                          </div>
                        </div>
                      </div>
                    </div>
            </center>
        </td>
    </tr>
        {%endfor%}
  </tbody>
</table>

 </body>
