{% extends "base.html" %}
{% block page %}

<body>
    <h5><b>{{request.user}}'s</b> tasks</h5>
    <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNewTask" aria-expanded="false" aria-controls="collapseNewTask">
          New task +
      </button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDailyTasks" aria-expanded="false" aria-controls="collapseDailyTasks">
          Daily tasks
      </button></a>
    </nav>
    <div class="collapse" id="collapseNewTask">
        <div class="card card-body">
              {% include 'add_task.html' %}
        </div>
    </div>
    <div class="collapse" id="collapseDailyTasks">
        <div class="card card-body">
              {% include 'daily_tasks_settings.html' %}
        </div>
    </div>

 <table class="table">
  <thead class="table-active">
    <tr>
        <th scope="col">
        </th>
        <th scope="col">
            <form method="POST"  action=".">{% csrf_token %}
                 <button name="sort" type="submit"  value="name" class="btn btn-active btn-sm">Task</button>
            </form>
        </th>
        <th scope="col">
            <form method="POST"  action=".">{% csrf_token %}
                 <button name="sort" type="submit"  value="info" class="btn btn-active btn-sm">Info</button>
            </form>
        </th>
        <th scope="col">
            <form method="POST" action=".">{% csrf_token %}
                 <button name="sort" type="submit"  value="category" class="btn btn-active btn-sm">Category</button>
            </form>
        </th>
        <th scope="col">
            <form method="POST" action=".">{% csrf_token %}
                 <button name="sort" type="submit"  value="description" class="btn btn-active btn-sm">Comment</button>
            </form>
        </th>
        <th scope="col">
            <form method="POST" action=".">{% csrf_token %}
                 <button name="sort" type="submit"  value="-priority" class="btn btn-active btn-sm">Prio</button>
            </form>
        </th>
        <th scope="col">
            <form method="POST" action=".">{% csrf_token %}
                 <button name="sort" type="submit"  value="start_data" class="btn btn-active btn-sm">First day</button>
            </form>
        </th>
        <th scope="col">
            <form method="POST" action=".">{% csrf_token %}
                 <button name="sort" type="submit"  value="end_data" class="btn btn-active btn-sm">Last day</button>
            </form>
        </th>
        <th scope="col">
            <form method="POST" action=".">{% csrf_token %}
                 <button name="sort" type="submit"  value="done" class="btn btn-active btn-sm">Status</button>
            </form>
        </th>
    </tr>
  </thead>
  <tbody>
<!--#### Daily Tasks ####-->

    {%for task, diff in tasks_daily%}
    {%if diff >= 0 or task.done == False %}
        {%if task.done == True %}

      <tr class="table-success">
        {%else%}
            <tr class="table-warning" >
        {%endif%}
            <th scope="row"></th>
            <td><b>
                <a href="/tasks_list/{{task.id}}">{{task.name}} </a></b>
            </td>
            <td><font color="#3366ff"> {{task.end_data}}</font>
                    {%if diff == 0%}

                    {%else %}
                        <font color=#e3493d>[{{diff}}]</font>
                    {%endif%}

            </td>
            <td><font color="#3366ff">{{task.category}}</font></td>
            <td><font color="#3366ff">{{task.description}}</font></td>
            <td><center><font color="#3366ff">-</font></center></td>
            <td><font color="#3366ff">-</font></td>
            <td><font color="#3366ff"><i>(Daily task)</i></font></td>

            <td>
                <center>
                    <form method="POST" action="/change_task_status/">{% csrf_token %}
                        {% if task.done == True %}
                            <button name="change_status_list" value={{task.id}} type="submit" class="btn btn-success ">Done</button>
                        {%else%}
                            <button name="change_status_list" value={{task.id}} type="submit" class="btn btn-danger btn-sm" >In progress</button>
                        {%endif%}
                    </form>
                </center>
            </td>
</tr>
        {%endif%}
  {%endfor%}

<tr>
    <th scope="row"></th>
</tr>

<!--#### Standard Tasks ####-->

  {%for task, diff in tasks%}
    {%if diff >= 0 or task.done == False %}
        {%if task.done == True %}
            <tr class="table-success">
        {%else%}
            <tr class="">
        {%endif%}

            <th scope="row"></th>
            <td><b><a href="/tasks_list/{{task.id}}">{{task.name}} </a></b>
            </td>
            <td>{{task.info}}</td>
            <td>{{task.category}}</td>
            <td>{{task.description}}</td>
            <td><center>{{task.priority}}</center></td>
            <td>{{task.start_data}}</td>
            <td>{{task.end_data}} {%if diff <= 2 %}
                <font color=#e3493d><b>({{diff}})</b></font></td>
                {%else%}
                    <b>({{diff}})</b>
                {%endif%}
            <td>
                <center>
                    <form method="POST" action="/change_task_status/">{% csrf_token %}
                        {% if task.done == True %}
                            <button name="change_status_list" value={{task.id}} type="submit" class="btn btn-success ">Done</button>
                        {%else%}
                            <button name="change_status_list" value={{task.id}} type="submit" class="btn btn-danger btn-sm" >In progress</button>
                        {%endif%}
                    </form>
                </center>
            </td>
        </tr>
    {%endif%}
  {%endfor%}

  </tbody>
</table><br>

<!--#### Archive Tasks Standard ####-->

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Tasks archive
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
            </tr>
          </thead>
         <tbody>
         {%for task, diff in tasks_archive%}
            {%if diff < 0 and task.done == True and task.brand.id == 1%}
                {%if task.done == True %}
                    <tr class="table-success">
                {%else%}
                    <tr class="">
                {%endif%}
                    <th scope="row"></th>
                    <td><b><a href="/tasks_list/{{task.id}}">{{task.name}} </a></b>
                    </td>
                    <td>{{task.end_data}}<br>
                    {%if task.brand.id == 2%}
                        <i>(Daily task)</i>
                    {%endif%}
                    </td>
                    <td>{{task.category}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.start_data}}</td>
                    <td>{{task.end_data}} {%if diff <= 2 %}
                        <font color=#e3493d>({{diff}})</font></td>
                        {%else%}
                            ({{diff}})
                        {%endif%}
                    <td>
                        <center>
                            <form method="POST" action="/change_task_status/">{% csrf_token %}
                                {% if task.done == True %}
                                    <button name="change_status_list" value={{task.id}} type="submit" class="btn btn-success">Done</button>
                                {%else%}
                                    <button name="change_status_list" value={{task.id}} type="submit" class="btn btn-danger">In progress</button>
                                {%endif%}
                            </form>
                        </center>
                    </td>
                </tr>
            {%endif%}
          {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

 </body>
{% endblock %}

