    <p>
      <button class="btn btn-primary"   type="button" data-toggle="collapse" data-target="#collapseNewNote" aria-expanded="false" aria-controls="collapseNewNote">
          New note +
      </button>
    </p>
    <div class="collapse" id="collapseNewNote">
        <div class="card card-body">
            <form method="POST" action=".">{% csrf_token %}
                <b>Title:</b>
                    <input type="text"  class="form-control" name='name' >
                <b>Note:</b>
                    <textarea  class="form-control" rows="3" cols="1"  name='description' ></textarea><br>
                <center><button type="submit" name="now_note" class="btn btn-primary btn-lg btn-block">New note +</button><br></center>
            </form>
        </div>
    </div>