 <nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">
      <button class="btn btn-secondary"   type="button" data-toggle="collapse" data-target="#collapseNewNote" aria-expanded="false" aria-controls="collapseNewNote">
          New note +
      </button></a>
  <form class="form-inline" method="POST" action="/searching_notes/">{% csrf_token %}
    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my- my-sm-0"  type="submit">Search</button>
  </form>
</nav>
    <br>
      <div class="collapse" id="collapseNewNote">
        <div class="card card-body">
            <form method="POST" action=".">{% csrf_token %}
                <form action='.' method="POST"> {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <b>Title:</b>
                                <input type="text"  class="form-control" name='name'>
                        </div>
                        <div class="col">
                            <b>Tag:</b>
                                <input type="text"  class="form-control" name='tag'>
                        </div>
                    </div>
                <b>Note:</b>
                    <textarea  class="form-control" rows="3" cols="1"  name='description' ></textarea><br>
                <center><button type="submit" name="now_note" class="btn btn-secondary btn-lg btn-block">New note +</button><br></center>
            </form>
        </div>
    </div>