{% if found_by_name is None or not found_by_name %}

{% else %}
<p>
<button class="btn btn-outline-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#titles" aria-expanded="false" aria-controls="titles">
          Found in note Titles
</button>
</p>
<div class="collapse" id="titles">
    <div class="card card-body">
        <div class="row">
        {% for title, note  in found_by_name.items %}
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ title }}<font color="gray" size="2px"><i> {{ note.2 }} - {{ note.1 }}</i></font></h5>
                    <p class="card-text">{{ note.0 }}</p>
                  </div>
                </div>
              </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if found_by_description is None or not found_by_description %}

{% else %}
<p>
    <button class="btn btn-outline-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#notes" aria-expanded="false" aria-controls="notes">
              Found in Notes
    </button>
</p>
<div class="collapse" id="notes">
    <div class="card card-body">
        <div class="row">
        {% for title, note  in found_by_description.items %}
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ title }}<font color="gray" size="2px"><i> {{ note.2 }} - {{ note.1 }}</i></font></h5>
                    <p class="card-text">{{ note.0 }}</p>
                  </div>
                </div>
              </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}



