{% extends "base.html" %}
{% block page %}
<body>
    <h5><b>{{request.user}}'s</b> notes</h5>
    {% include 'nav_note.html' %}

    {% for num, founds in founds_list_enumerate %}
        {% include 'found_notes_elements.html' %}
    {% endfor %}
    <p><button type="button" class="btn btn-outline-dark btn-lg btn-block" disabled>{{current_month}}</button></p>

    {%for day_str, day_date , month_data in date%}
        {% if current_full_date.month == month_data %}
            <p>
                <button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#coll_day{{day_str}}" aria-expanded="false" aria-controls="coll_day{{day_str}}">
                          {{ day_date }}
                </button>
            </p>
            <div class="collapse" id="coll_day{{day_str}}">
                <div class="card card-body">
                    <div class="row">
                    {% for note in notes %}
                        {% if note.date == day_date %}
                            {% include 'note_cart.html' %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <p><button type="button" class="btn btn-outline-dark btn-lg btn-block" disabled>Previous months</button></p>

    {%for month, month_name in date_month%}
        {% if current_full_date.month > month %}
            <p>
                <button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#coll{{month}}" aria-expanded="false" aria-controls="coll{{month}}">
                    {{month_name}}
                </button>
            </p>
            <div class="collapse" id="coll{{month}}">
                <div class="card card-body">
                    <div class="row">
                        {% for note in notes %}
                            {% if note.date.month == month %}
                                {% include 'note_cart.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}



</body>
{% endblock %}

