{% extends "base.html" %}
{% block page %}
<body>
    <h5><b>{{request.user}}'s</b> notes</h5>
    {% include 'nav_note.html' %}

    {% for num, founds in founds_list_enumerate %}
        {% include 'found_notes_elements.html' %}
    {% endfor %}

    {%for day_str, day_date in date%}
    <p>
    <button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#coll{{day_str}}" aria-expanded="false" aria-controls="coll{{day_str}}">
              {{ day_date }}
    </button>
    </p>
    <div class="collapse" id="coll{{day_str}}">
        <div class="card card-body">
            <div class="row">
            {% for note in notes %}
                {% if note.date == day_date %}
                    {% include 'note_cart.html' %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

    {% endfor %}

</body>
{% endblock %}

