{% extends "base.html" %}
{% block page %}
<body>
    <h5><b>{{request.user}}'s</b> notes</h5>
    {% include 'add_note.html' %}
    {% include 'found_notes_elements.html' %}

    {%for day_str, day_date in date%}
    <p>
    <button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#coll{{day_str}}" aria-expanded="false" aria-controls="coll{{day_str}}">
              {{ day_date }}
    </button>
    </p>
    <div class="collapse" id="coll{{day_str}}">
        <div class="card card-body">

            <div class="row">

            {% for note in notes %}
                {% if note.date == day_date %}

                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">{{ note.name }} <font color="gray" size="2px"><i>{{note.time}}</i></font></h5>
                            <p class="card-text">{{ note.description }}</p>
                              <form method="POST" id="delete_note" action="/delete_note/">{% csrf_token %}</form>
                                  <p>
                                      <button type="submit" form="delete_note" name='delete_note' value={{note.id}} class="btn btn btn-outline-danger btn-sm">Delete</button>
                                  </p>
                          </div>
                        </div>
                      </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

    {% endfor %}

</body>
{% endblock %}

