{% extends "base.html" %}
{% block page %}
 <body id="home">

    <h3> This is <img src="https://i.ibb.co/hVnrnKg/check-1769866-640.png" width="30" height="30" alt=""> <b> checked</b> application</h3><br>
    {%if not request.user.is_authenticated%}
        <h4> You have to <a  href="/user_login">Login</a> to get access to your data</h4>
    {%else%}
        <h4> Go to your <a  href="/tasks_list"> tasks</a> or <a  href="/notes_list">notes</a></h4>
            <div class="card-columns"  >
                {% include 'quick_add_task.html' %}
                {% include 'cart_tasks_daily.html' %}
                {% include 'cart_tasks.html' %}
            </div>
    {%endif%}

 </body>
{% endblock %}