<nav class="nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tasks_list">Your tasks</a>
    </li>

    {%if not request.user.is_authenticated%}
      <li class="nav-item">
         <a class="nav-link" href="/user_login">Login</a>
      </li>
    {%else%}
    <li class="nav-item">
      <a class="nav-link" href="/user_logout">Logout <i><font color="#7DA6E4">`{{request.user}}`</font></i></a>
    </li>
    {%endif%}
    <li class="nav-item">
      <a class="nav-link disabled" href="#">About</a>
    </li>
    {%if request.user.is_authenticated%}
    <li class="nav-item">
      <a class="nav-link disabled" href="/settings">Settings</a>
    </li>
    {%endif%}
  </ul>
</nav>