{% extends "base.html" %}
{% block page %}
<body id="">

    <h5><b>{{request.user}}'s</b> task</h5>
<ul class="nav">
    <li class="nav-item">
        <form method="POST" action="/change_task_status/">{% csrf_token %}
            {% if task.done == True %}
                <button name="change_status" value={{task.id}} type="submit" class="btn btn-success ">Done</button>
            {%else%}
                <button name="change_status" value={{task.id}} type="submit" class="btn btn-danger ">In progress</button>
            {%endif%}
        </form>
    </li>
    <li class="nav-item">
        <form method="POST" action="/delete_task/">{% csrf_token %}
            <button name="delete_task" value={{task.id}} class="btn btn-primary ">Delete task </button>
        </form>
    </li>
</ul><br>
<form method="POST" action="/tasks_list/{{task.id}}/update_task">{% csrf_token %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">
        {% if task.done == True %}
            <h5> <font color=#57d624><b>`{{task.name}}`</b> is Done !</font></h5>
        {%else%}
          <h5> <font color="#e3493d"><b>`{{task.name}}`</b> in progress </font></h5>
        {%endif%}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">ID:{{task.id}} {{task.brand.id}}</th>
    </tr>
    <tr>
        <th scope="row"><b>Task: </b>
          <textarea class="form-control" rows="1" cols="1"  name='name' >{{task.name}}</textarea></th>
    </tr>
    {%if task.brand.id == 1 %}
        <tr>
            <th scope="row"><b>Info:</b>
              <textarea  class="form-control" rows="1" cols="1"  name='info' >{{task.info}}</textarea></th>
    {%endif%}
    </tr>
      <tr>
      <th scope="row"><b>Category:</b>
          <textarea  class="form-control" rows="1" cols="1"  name='category' >{{task.category}}</textarea></th>
    </tr>
      <tr>
      <th scope="row"><b>Comment: </b>
          <textarea  class="form-control" rows="1" cols="1"  name='description' >{{task.description}}</textarea></th>
    </tr>
    {%if task.brand.id == 1 %}
    <tr>
      <th scope="row"><b>Priority: {{task.priority}}</b>
          <select name='priority' class="custom-select" id="inputGroupSelect01">
              <option value={{task.priority}}>-</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
          </select></th>
    </tr>
      <tr>
      <th scope="row"><b>Start day: {{task.start_data}}</b>
                <input type="date" class="form-control" name='start_data'></th>
    </tr>
    {%endif%}

     <tr>
      <th scope="row"><b>Deadline: {{task.end_data}}</b>
              {%if task.brand.id == 1 %}
                 <input type="date" class="form-control" name='end_data'>
              {%endif%}
    </tr>
  </tbody>
</table>
<center><button type="submit" class="btn btn-primary btn-lg btn-block">Update task</button><br></center>
</form>
 </body>
{% endblock %}
