{% extends "base.html" %}
{% block page %}
 <body id="home">
    <h4>User: {{request.user}}</h4>
    {% include 'add_task.html' %}<br>

 <table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">Category</th>
        <th scope="col">Info</th>
        <th scope="col">Comment</th>
        <th scope="col">Start day</th>
        <th scope="col">Last day</th>
        <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody>{%for task in objects%}

        {%if task.done == False %}
            <tr class={{status}}>
        {%else%}
            <tr class="">
        {%endif%}

        <th scope="row"></th>
        <td><b>{{task.name}}</b></td>
        <td>{{task.category}}</td>
        <td>{{task.info}}</td>
        <td>{{task.description}}</td>
        <td>{{task.start_data}}</td>
        <td>{{task.end_data}}</td>
        <td>
            {% if task.done == False %}
                <button type="button" class="btn btn-success">Done</button>
            {%else%}
                <button type="button" class="btn btn-danger">In progress</button>
            {%endif%}
        </td>
    </tr>
              {%endfor%}
  </tbody>
</table>
  </body>
{% endblock %}


<!--  <tr {%if task.done == False %}-->
<!--            class="table-success"-->
<!--        {%endif%}>-->