{% extends "base.html" %}
{% block page %}

<body>
    <h5><b>{{request.user}}'s</b> tasks</h5>
    <p>
      <button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          New task +
      </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
              {% include 'add_task.html' %}
        </div>
    </div>

 <table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col"></th>
        <th scope="col">Task</th>
        <th scope="col">Info</th>
        <th scope="col">Category</th>
        <th scope="col">Comment</th>
        <th scope="col">Start day</th>
        <th scope="col">Last day</th>
        <th scope="col"><center>Status</center></th>
    </tr>
  </thead>
  <tbody>
  {%for task in objects%}

    {%if task.done == True %}
        <tr class="table-success">
    {%else%}
        <tr class="">
    {%endif%}
            <th scope="row"></th>
            <td><b><a href="/tasks_list/{{task.id}}">{{task.name}}</a></b></td>
            <td>{{task.info}}</td>
            <td>{{task.category}}</td>
            <td>{{task.description}}</td>
            <td>{{task.start_data}}</td>
            <td>{{task.end_data}}</td>
            <td>
                <center>
                    <form method="POST" action="/change_task_status/">{% csrf_token %}
                        {% if task.done == True %}
                            <button name="change_status_list" value={{task.id}} type="submit" class="btn btn-success">Done</button>
                        {%else%}
                            <button name="change_status_list" value={{task.id}} type="submit" class="btn btn-danger">In progress</button>
                        {%endif%}
                    </form>
                </center>
            </td>
        </tr>
  {%endfor%}
  </tbody>
</table><br>
 </body>
{% endblock %}

